<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card [routerLink]="['/deskripsi']">
		<img src="assets/icon/LOGO.png">
	</ion-card>
		<ion-card [routerLink]="['/deskripsi']">
		<img src="assets/icon/LOGO.png">
	</ion-card>
		<ion-card [routerLink]="['/deskripsi']">
		<img src="assets/icon/LOGO.png">
	</ion-card>
		<ion-card [routerLink]="['/deskripsi']">
		<img src="assets/icon/LOGO.png">
	</ion-card>
</ion-content>
