<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-button type="submit" (click)="logout()" class="btn btn-primary"> Keluar </ion-button>
</ion-content>
